.color-picker {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-background-image: url("/icons/fa-eyedropper.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 15 15;
    -fx-background-position: center center;
    -fx-background-radius: 0 10 0 0;
    -fx-color-label-visible: false;
}

.picker-color {
    visibility: hidden;
}
